<div class="breadcrumbs__queue">
    <div class="breadcrumbs__entry">
        <a class="breadcrumbs__link"
            [routerLink]="['/dashboard']">
            Dashboard
        </a>
        <div class="breadcrumbs__separator">/</div>
    </div>
    <div class="breadcrumbs__entry"
        *ngFor="let link of links">
        <a class="breadcrumbs__link"
            [routerLink]="[link.href]">
            {{ link.title }}
        </a>
        <div class="breadcrumbs__separator">/</div>
    </div>
</div>
