:host {
    display: block;
    min-height: 40px;

    .breadcrumbs {
        &__queue {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
        }

        &__entry {
            display: flex;
            margin-right: 5px;

            &:last-child {
                .breadcrumbs__separator {
                    display: none;
                }
            }
        }

        &__link {
            margin-right: 5px;
        }
    }
}
