<app-layout-page-bold-header>
    <ng-container title>
        <div class="user-banner">
            <h1 class="user-banner__name">
                {{ (user$ | async)?.name }}
            </h1>
            <h4 class="user-banner__description">
                {{ description$ | async }}
            </h4>
        </div>
    </ng-container>

    <div class="responsive-tiles">
        <div class="responsive-tiles__entries">
            <div class="responsive-tiles__entry">
                <div class="scrollable-list">
                    <h4 class="scrollable-list__title">
                        Albums
                    </h4>
                    <ul class="scrollable-list__entries"
                        *ngIf="albums$ | async as albums">
                        <li class="scrollable-list__entry"
                            *ngFor="let album of albums">
                            <a class="scrollable-list__line"
                                [routerLink]="['/albums/' + album.id]">
                                {{ album.title }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="responsive-tiles__entry">
                <div class="scrollable-list">
                    <h4 class="scrollable-list__title">
                        Posts
                    </h4>
                    <ul class="scrollable-list__entries"
                        *ngIf="posts$ | async as posts">
                        <li class="scrollable-list__entry"
                            *ngFor="let post of posts">
                            <a class="scrollable-list__line"
                                [routerLink]="['/posts/' + post.id]">
                                {{ post.title }}
                            </a>
                            <div class="scrollable-list__line">
                                {{ post.body }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</app-layout-page-bold-header>
