<app-layout-page-bold-header>
    <ng-container title>
        <div class="user-banner">
            <h1 class="user-banner__name">
                {{ (user$ | async)?.name }}
            </h1>
            <h4 class="user-banner__description">
                {{ description$ | async }}
            </h4>
        </div>
    </ng-container>

    <div class="page-user__posts">

        <ul *ngIf="posts$ | async as posts">
            <li *ngFor="let post of posts">
                {{ post.title }}
            </li>
        </ul>

    </div>

    <div class="page-user__albums">

        <ul *ngIf="albums$ | async as albums">
            <li *ngFor="let album of albums">
                {{ album.title }}
            </li>
        </ul>

    </div>
</app-layout-page-bold-header>
