@import "../../../styles/posts-table";
@import "../../../styles/search-filters";

:host {
    .page-posts {
        &__data {
            display: flex;
            flex-direction: column;
        }

        &__table-wrapper {
            width: 100%;
            overflow-x: auto;
        }

        &__content {
            position: relative;
            min-height: 150px;
        }

        &__loader-overlay {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__pagination-wrapper {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
    }
}
