<div class="page__content">
    <app-layout-page-generic>
        <ng-container title>Posts</ng-container>

        <div class="app-layout__search-wrapper">
            <div class="search-filters">
                <div class="search-filters__list">
                    <input class="search-filters__entry search-filters__input"
                        placeholder="Search"
                        [ngModel]="searchTerm$ | async"
                        (ngModelChange)="setSearchTerm($event)">
                    <select class="search-filters__entry search-filters__input"
                        [ngModel]="searchField$ | async"
                        (ngModelChange)="setSearchField($event)">
                        <option [value]="searchFieldTypes.User">
                            User
                        </option>
                        <option [value]="searchFieldTypes.Title">
                            Title
                        </option>
                        <option [value]="searchFieldTypes.Content">
                            Content
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="page-posts__content">
            <div *ngIf="(isLoading$ | async) === false"
                class="page-posts__data">
                <div class="page-posts__table-wrapper">
                    <table class="posts-table">
                        <thead>
                            <tr>
                                <th class="posts-table__cell posts-table__cell--head"
                                    (click)="clickField(sortFields.Id)">
                                    ID
                                    <app-sort-toggler
                                        *ngIf="(sortField$ | async) === sortFields.Id"
                                        ngDefaultControl
                                        [ngModel]="sortType$ | async">
                                    </app-sort-toggler>
                                </th>
                                <th class="posts-table__cell posts-table__cell--head"
                                    (click)="clickField(sortFields.User)">
                                    User
                                    <app-sort-toggler
                                        *ngIf="(sortField$ | async) === sortFields.User"
                                        ngDefaultControl
                                        [ngModel]="sortType$ | async">
                                    </app-sort-toggler>
                                </th>
                                <th class="posts-table__cell posts-table__cell--head"
                                    (click)="clickField(sortFields.Title)">
                                    Title
                                    <app-sort-toggler
                                        *ngIf="(sortField$ | async) === sortFields.Title"
                                        ngDefaultControl
                                        [ngModel]="sortType$ | async">
                                    </app-sort-toggler>
                                </th>
                                <th class="posts-table__cell posts-table__cell--head"
                                    (click)="clickField(sortFields.Content)">
                                    Content
                                    <app-sort-toggler
                                        *ngIf="(sortField$ | async) === sortFields.Content"
                                        ngDefaultControl
                                        [ngModel]="sortType$ | async">
                                    </app-sort-toggler>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="posts-table__body">
                            <tr *ngFor="let post of posts$ | async">
                                <td class="posts-table__cell posts-table__cell--id">
                                    {{ post.id }}
                                </td>
                                <td class="posts-table__cell posts-table__cell--user">
                                    <a [routerLink]="['/users/' + post.userId]">
                                        User {{ post.userId }}
                                    </a>
                                </td>
                                <td class="posts-table__cell posts-table__cell--title">
                                    <a [routerLink]="['/posts/' + post.id]">
                                        {{ post.title }}
                                    </a>
                                </td>
                                <td class="posts-table__cell posts-table__cell--content">
                                    {{ post.body }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page-posts__pagination-wrapper">
                    <app-pagination
                        [totalPages]="totalPages$ | async"
                        [activePage]="activePage$ | async"
                        [radius]="3"
                        (go)="go($event)">
                    </app-pagination>
                </div>
            </div>
            <div class="page-posts__loader-overlay"
                *ngIf="(isLoading$ | async)">
                <app-loader></app-loader>
            </div>
        </div>
    </app-layout-page-generic>
</div>
