:host {

    .page-posts {
        &__content {
            position: relative;
        }

        &__loader-overlay {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
