<div class="page__content">
    <app-layout-page>
        <ng-container title>Posts</ng-container>
        <div class="page-posts__content">
            <div *ngIf="!(isLoading$ | async)"
                class="page-posts__data">
                <div class="page-posts__table-wrapper">
                    <table class="posts-table">
                        <thead>
                            <tr>
                                <th class="posts-table__cell posts-table__cell--head">
                                    ID
                                </th>
                                <th class="posts-table__cell posts-table__cell--head">
                                    User
                                </th>
                                <th class="posts-table__cell posts-table__cell--head">
                                    Title
                                </th>
                                <th class="posts-table__cell posts-table__cell--head">
                                    Content
                                </th>
                            </tr>
                        </thead>
                        <tbody class="posts-table__body">
                            <tr *ngFor="let post of posts$ | async">
                                <td class="posts-table__cell posts-table__cell--id">
                                    {{ post.id }}
                                </td>
                                <td class="posts-table__cell posts-table__cell--user">
                                    User {{ post.userId }}
                                </td>
                                <td class="posts-table__cell posts-table__cell--title">
                                    {{ post.title }}
                                </td>
                                <td class="posts-table__cell posts-table__cell--content">
                                    {{ post.body }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="page-posts__loader-overlay"
                *ngIf="(isLoading$ | async)">
                <app-loader></app-loader>
            </div>
        </div>
    </app-layout-page>
</div>
