:host {
    .page-posts {
        &__content {
            position: relative;
            min-height: 150px;
        }

        &__loader-overlay {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
