<div class="page__content">
    <app-layout-page>
        <ng-container title>{{ (album$ | async)?.title }}</ng-container>
        <div class="page-album__content">
            By
            <a [routerLink]="['/users/' + (album$ | async)?.userId ]">
                User {{ (album$ | async)?.userId }}
            </a>

            <div class="page__search-wrapper">
                <div class="search-filters">
                    <div class="search-filters__list">
                        <input class="search-filters__entry search-filters__input"
                            placeholder="Search"
                            [ngModel]="searchTerm$ | async"
                            (ngModelChange)="setSearchTerm($event)">
                    </div>
                </div>
            </div>

            <div *ngIf="filteredPhotos$ | async as photos"
                class="page-album__photos photos-list">
                <ul class="photos-list__items">
                    <li *ngFor="let photo of photos" class="photos-list__entry">
                        <app-photo-entry
                            class="photos-list__photo"
                            [photo]="photo">
                        </app-photo-entry>
                    </li>
                </ul>
            </div>
        </div>
    </app-layout-page>
</div>
