.album-entry-images {
    &__items {
        height: 100%;
        padding-left: 0;
        margin: -5px;
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        align-items: center;
    }

    &__entry {
        flex-basis: 60px;
        padding: 5px;
    }

    &__image-wrapper {
        max-width: 50px;
        padding-top: 100%;
        position: relative;
        background: var(--bs-gray-400);
    }

    &__image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: auto;
    }
}
