.albums-list {
    --row-items: 4;
    --offset: 5px;

    &__items {
        padding-left: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin: calc(-1 * var(--offset));
    }

    &__entry {
        min-height: 150px;
        min-width: 0;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: calc(100% / var(--row-items));
        padding: var(--offset);

        &--empty {
            min-height: 0;
            padding: 0;
        }
    }

    &__album {
        display: block;
        height: 100%;
    }
}
