@import './special/mixins';

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: var(--bs-white);

    &__main {
        flex-grow: 1;
        display: flex;
        align-items: stretch;
    }

    &__side-menu-wrapper {
        display: none;
        flex: 250px 0 0;
        flex-direction: column;

        & > * {
            display: block;
            flex-grow: 1;
        }

        @include respond-to('small') {
            display: flex;
        }
    }

    &__page-wrapper {
        overflow-x: hidden;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        position: relative;

        & > * {
            flex-grow: 1;
        }
    }

    &__router-outlet {
        display: none;
    }

    &__loader-overlay {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--bs-white);
    }

    &__search-wrapper {
        padding: 10px 0;
    }

    &__mobile-header {
        background: var(--bs-gray-200);

        @include respond-to('small') {
            display: none;
        }
    }
}
