@import "./special/mixins";

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: var(--bs-white);

    &__main {
        flex-grow: 1;
        display: flex;
        align-items: stretch;
        position: relative;
    }

    &__side-menu-wrapper {
        display: flex;
        flex: 250px 0 0;
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform 0.3s linear;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 300px;
        z-index: 1;

        &--opened {
            transform: translateX(0);
        }

        & > * {
            display: block;
            flex-grow: 1;
        }

        @include respond-to("small") {
            transform: translateX(0);
            position: static;
            height: auto;
            width: auto;
        }
    }

    &__page-wrapper {
        overflow-x: hidden;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        position: relative;

        & > * {
            flex-grow: 1;
        }
    }

    &__router-outlet {
        display: none;
    }

    &__loader-overlay {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--bs-white);
    }

    &__search-wrapper {
        padding: 10px 0;
    }

    &__mobile-header {
        user-select: none;
        display: flex;
        align-items: center;
        z-index: 1;
        background: var(--bs-gray-200);

        @include respond-to("small") {
            display: none;
        }
    }

    &__mobile-title {
        margin-left: 20px;
        font-size: 20px;
    }
}
