.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: $color-primary;

    &__main {
        flex-grow: 1;
        display: flex;
        align-items: stretch;
    }

    &__side-menu-wrapper {
        flex: 250px 0 0;
        display: flex;
        flex-direction: column;

        & > * {
            display: block;
            flex-grow: 1;
        }
    }

    &__page-wrapper {
        flex-grow: 1;

        & > * {
            flex-grow: 1;
        }
    }
}
