@import './special/colors.scss';

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: $color-primary;

    &__main {
        flex-grow: 1;
        display: flex;
        align-items: stretch;
    }

    &__side-menu-wrapper {
        flex: 250px 0 0;
        display: flex;
        flex-direction: column;

        & > * {
            display: block;
            flex-grow: 1;
        }
    }

    &__page-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        position: relative;

        & > * {
            flex-grow: 1;
        }
    }

    &__router-outlet {
        display: none;
    }

    &__loader-overlay {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-primary;
    }
}
