.column-list {
    &__entries {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }

    &__entry {
        margin: var(--gap);
    }

    &__line {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
