@import 'normalize.css';
@import 'special/colors';
@import 'app-layout';
@import 'page';

html {
    height: 100%;
    overflow-x: hidden;
    line-height: 1.45;
    color: $color-text;
}

.body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
