@import "normalize.css";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons";
@import "app-layout";
@import "page";

html {
    height: 100%;
    overflow-x: hidden;
    line-height: 1.45;
    color: var(--bs-dark);
}

.body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
}
