@import 'normalize.css';

@import 'special/colors.scss';
@import 'special/mixins.scss';

@import 'app-layout.scss';

html {
    height: 100%;
    overflow-x: hidden;
    line-height: 1.45;
}

.body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
}

