.main-banner {
    background: var(--bs-indigo);
    color: var(--bs-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 200px;

    &__pre-title {
        margin: 0;
        font-size: 25px;
    }

    &__title {
        margin: 13px 0 0 0;
        font-size: 40px;
    }
}
