@import "../styles/special/mixins";

.page {
    display: flex;
    flex-direction: column;

    --side-space: 10px;

    @include respond-to("small") {
        --side-space: 30px;
    }

    @include respond-to("medium") {
        --side-space: 80px;
    }

    &__content {
        flex-grow: 1;
        padding: 10px var(--side-space);
        display: flex;
        flex-direction: column;
    }

    &__header {
        min-height: 190px;
        color: var(--bs-gray-200);
        background: var(--bs-indigo);
        padding: 10px var(--side-space);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
