.page {
    display: flex;
    flex-direction: column;

    &__content {
        flex-grow: 1;
        padding: 10px 80px;
        display: flex;
        flex-direction: column;

        &--no-grow {
            flex-grow: 0;
        }
    }
}
