.photos-list {
    --row-items: 6;
    --offset: 5px;

    &--smaller {
        --row-items: 3;
    }

    &__items {
        padding-left: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin: calc(-1 * var(--offset));
    }

    &__entry {
        min-width: 0;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: calc(100% / var(--row-items));
        padding: var(--offset);
    }

    &__photo {
        display: block;
        height: 100%;
    }
}
