@import 'special/colors';

:host {
    max-width: 100%;

    .posts-table {
        overflow-x: auto;
        min-width: 100%;

        &, &__cell {
            border: 1px solid $color-secondary;
            border-collapse: collapse;
        }

        &__cell {
            padding: 5px 10px;
            white-space: nowrap;

            &--head {
                text-align: left;
                cursor: pointer;
                user-select: none;
            }
        }

        &__cell--title {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__cell--content {
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 40px;
        }
    }
}
