.scrollable-list {
    background: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-300);
    --gap: 10px 15px;

    &__title {
        padding: var(--gap);
        background: var(--bs-gray-300);
        margin-bottom: 0;
    }

    &__entries {
        overflow-y: scroll;
        max-height: 400px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }

    &__entry {
        margin: var(--gap);
    }

    &__line {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
