.scrollable-container {
    background: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-300);

    --gap: 10px 15px;

    &__title {
        padding: var(--gap);
        background: var(--bs-gray-300);
        margin-bottom: 0;
    }

    &__content {
        overflow-y: auto;
        max-height: 400px;
    }

    &__loader-wrapper {
        padding: 20px;
        display: flex;
        justify-content: center;
    }
}
