.search-filters {
    &__list {
        margin: -5px;
        display: flex;
    }

    &__entry {
        margin: 5px;
    }

    &__input {
        border-radius: 0;
        border: 1px solid var(--bs-gray-200);
    }

    select.search-filters__input {
        background: var(--bs-white);
    }
}
