.user-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &__name {
        margin: 0;
        font-size: 40px;
    }

    &__description {
        margin: 13px 0 0 0;
        font-size: 15px;
        color: rgb(var(--bs-gray-200) / 50%);
    }
}
