<header class="app-layout__mobile-header">
    <app-burger></app-burger>
    <h1 class="app-layout__mobile-title">{{ title }}</h1>
</header>
<main class="app-layout__main">
    <div class="app-layout__side-menu-wrapper"
        [ngClass]="{'app-layout__side-menu-wrapper--opened': isMenuOpen$ | async}">
        <app-side-menu></app-side-menu>
    </div>
    <div class="app-layout__page-wrapper">
        <router-outlet
            class="app-layout__router-outlet">
        </router-outlet>
        <div *ngIf="moduleLoading"
            class="app-layout__loader-overlay">
            <app-loader></app-loader>
        </div>
    </div>
</main>
