<main class="app-layout__main">
    <div class="burger"
        [ngClass]="{'burger--opened': isMenuOpen$ | async}"
        (click)="toggleMenuOpen()">
        <div class="burger__center">
            <div class="burger__line"></div>
            <div class="burger__line"></div>
            <div class="burger__line"></div>
        </div>
    </div>

    <div class="app-layout__side-menu-wrapper">
        <app-side-menu></app-side-menu>
    </div>
    <div class="app-layout__page-wrapper">
        <router-outlet
            class="app-layout__router-outlet">
        </router-outlet>
        <div *ngIf="moduleLoading"
            class="app-layout__loader-overlay">
            <app-loader></app-loader>
        </div>
    </div>
</main>
