@import '../../../styles/special/colors';

:host {
    display: flex;
    user-select: none;

    .pagination {
        &__list {
            padding-left: 0;
            margin: -3px;
            list-style-type: none;
            display: flex;
        }

        &__item {
            margin: 3px;
            background: $color-secondary;
            padding: 5px 10px;
            cursor: pointer;
            min-width: 30px;
            text-align: center;

            &--active {
                background: $color-active;
                color: $color-primary;
            }

            &--nav {
                min-width: 60px;
            }
        }
    }
}
