:host {
    display: flex;
    user-select: none;

    .pagination {
        &__list {
            padding-left: 0;
            margin: -3px;
            list-style-type: none;
            display: flex;
        }

        &__item {
            margin: 3px;
            background: var(--bs-gray-200);
            padding: 5px 7px;
            cursor: pointer;
            min-width: 40px;
            text-align: center;

            &--active {
                background: var(--bs-blue);
                color: var(--bs-white);
            }

            &--nav {
                min-width: 60px;
            }
        }
    }
}
