<div class="page__content">
    <app-layout-page>
        <ng-container title>Albums</ng-container>

        <div class="page__search-wrapper">
            <div class="search-filters">
                <div class="search-filters__list">
                    <input class="search-filters__entry search-filters__input"
                        placeholder="Search"
                        [ngModel]="searchTerm$ | async"
                        (ngModelChange)="setSearchTerm($event)">
                    <select class="search-filters__entry search-filters__input"
                        [ngModel]="searchField$ | async"
                        (ngModelChange)="setSearchField($event)">
                        <option [value]="searchFieldTypes.User">
                            Author
                        </option>
                        <option [value]="searchFieldTypes.Title">
                            Title
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="page-albums__content">
            <div *ngIf="!(isLoading$ | async)"
                class="page-albums__data">
                <div class="page-albums__items albums-list">
                    <ul class="albums-list__items">
                        <li *ngFor="let album of (albums$ | async)" class="albums-list__entry">
                            <app-album-entry
                                class="albums-list__album"
                                [album]="album">
                            </app-album-entry>
                        </li>
                        <li *ngFor="let _ of [1, 2, 3, 4, 5]"
                            class="albums-list__entry albums-list__entry--empty">
                        </li>
                    </ul>
                </div>
                <div class="page-albums__pagination-wrapper">
                    <app-pagination
                        [totalPages]="totalPages$ | async"
                        [activePage]="activePage$ | async"
                        [radius]="3"
                        (onGo)="go($event)">
                    </app-pagination>
                </div>
            </div>
            <div class="page-albums__loader-overlay"
                *ngIf="(isLoading$ | async)">
                <app-loader></app-loader>
            </div>
        </div>
    </app-layout-page>
</div>
