@import '../../../styles/special/mixins';

:host {
    background: var(--bs-gray-200);
    padding: 15px 5px;

    @include respond-to('small') {
        padding: 15px;
    }

    .side-menu {
        &__title {
            display: none;
            padding-left: 10px;
            font-size: 30px;
            margin: 40px 0 20px 0;

            @include respond-to('small') {
                display: block;
            }
        }

        &__links {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
        }

        &__entry {
            transition: color 0.3s linear;
            transition: background 0.1s linear;

            &--active {
                color: var(--bs-gray-200);
                background: var(--bs-blue);
            }

            &:not(&--active) {
                color: var(--bs-dark);
            }
        }

        &__link {
            padding: 10px;
            display: block;

            &, &:link, &:visited {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}
