@import '../../../styles/special/colors';

:host {
    background: $color-secondary;
    padding: 15px;

    .side-menu {
        &__title {
            padding-left: 10px;
            font-size: 20px;
            margin: 40px 0 20px 0;
        }

        &__links {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
        }

        &__entry {
            transition: color 0.3s linear;
            transition: background 0.1s linear;

            &--active {
                color: $color-secondary;
                background: $color-active;
            }

            &:not(&--active) {
                color: $color-text;
            }
        }

        &__link {
            padding: 10px;
            display: block;

            &, &:link, &:visited {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}
