:host {
    .page-not-found {
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 25px;
        }
    }
}
