<app-layout-page-bold-header>
    <ng-container title>
        <div class="main-banner">
            <h3 class="main-banner__pre-title">
                Welcome to
            </h3>
            <h1 class="main-banner__title">
                My App
            </h1>
        </div>
    </ng-container>
    <div class="responsive-tiles">
        <div class="responsive-tiles__entries">
            <div class="responsive-tiles__entry">
                <div class="scrollable-container">
                    <h4 class="scrollable-container__title">
                        Statistics
                    </h4>
                    <div class="scrollable-container__content">
                        <div *ngIf="isLoading$ | async">
                            <div class="scrollable-container__loader-wrapper">
                                <app-loader></app-loader>
                            </div>
                        </div>
                        <div class="statistics">
                            <ng-container *ngIf="!(isLoading$ | async)">
                                <ul class="statistics__entries">
                                    <li class="statistics__entry">
                                        <div class="statistics__number">
                                            {{ totalPosts$ | async }}
                                        </div>
                                        <div class="statistics__description">
                                            Posts
                                        </div>
                                    </li>
                                    <li class="statistics__entry">
                                        <div class="statistics__number">
                                            {{ totalAlbums$ | async }}
                                        </div>
                                        <div class="statistics__description">
                                            Albums
                                        </div>
                                    </li>
                                    <li class="statistics__entry">
                                        <div class="statistics__number">
                                            {{ totalPhotos$ | async }}
                                        </div>
                                        <div class="statistics__description">
                                            Photos
                                        </div>
                                    </li>
                                </ul>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="responsive-tiles__entry">
                <div class="scrollable-container">
                    <h4 class="scrollable-container__title">
                        Latest Posts
                    </h4>
                    <div class="scrollable-container__content">
                        <div *ngIf="isLoading$ | async">
                            <div class="scrollable-container__loader-wrapper">
                                <app-loader></app-loader>
                            </div>
                        </div>
                        <div *ngIf="!(isLoading$ | async)"
                            class="column-list">
                            <ul class="column-list__entries"
                                *ngIf="latestPosts$ | async as posts">
                                <li class="column-list__entry"
                                    *ngFor="let post of posts">
                                    <a class="column-list__line"
                                        [routerLink]="['/posts/' + post.id]">
                                        {{ post.title }}
                                    </a>
                                    <div class="column-list__line">
                                        {{ post.body }}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="responsive-tiles__entry">
                <div class="scrollable-container">
                    <h4 class="scrollable-container__title">
                        Recent Photos
                    </h4>
                    <div class="scrollable-container__content">
                        <div *ngIf="isLoading$ | async">
                            <div class="scrollable-container__loader-wrapper">
                                <app-loader></app-loader>
                            </div>
                        </div>
                        <div *ngIf="!(isLoading$ | async)"
                            class="page-dashboard__photos-wrapper photos-list photos-list--smaller">
                            <ul class="photos-list__items">
                                <li *ngFor="let photo of (recentPhotos$ | async)" class="photos-list__entry">
                                    <app-photo-entry
                                        class="photos-list__photo"
                                        [photo]="photo">
                                    </app-photo-entry>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-layout-page-bold-header>
