<app-layout-page-bold-header>
    <ng-container title>
        <div class="main-banner">
            <h3 class="main-banner__pre-title">
                Welcome to
            </h3>
            <h1 class="main-banner__title">
                My App
            </h1>
        </div>
    </ng-container>
    <div class="responsive-tiles">
        <div class="responsive-tiles__entries">
            <div class="responsive-tiles__entry">
                <div class="scrollable-container scrollable-container--autoscroll">
                    <h4 class="scrollable-container__title">
                        Statistics
                    </h4>
                    <div class="scrollable-container__content">
                        <div class="statistics">
                            <div class="statistics__loader-wrapper"
                                *ngIf="isLoading$ | async">
                                <app-loader class="statistics__loader"></app-loader>
                            </div>
                            <ng-container *ngIf="!(isLoading$ | async)">
                                <ul class="statistics__entries">
                                    <li class="statistics__entry">
                                        <div class="statistics__number">
                                            {{ totalPosts$ | async }}
                                        </div>
                                        <div class="statistics__description">
                                            Posts
                                        </div>
                                    </li>
                                    <li class="statistics__entry">
                                        <div class="statistics__number">
                                            {{ totalAlbums$ | async }}
                                        </div>
                                        <div class="statistics__description">
                                            Albums
                                        </div>
                                    </li>
                                    <li class="statistics__entry">
                                        <div class="statistics__number">
                                            {{ totalPhotos$ | async }}
                                        </div>
                                        <div class="statistics__description">
                                            Photos
                                        </div>
                                    </li>
                                </ul>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="responsive-tiles__entry">
                <div class="scrollable-container">
                    <h4 class="scrollable-container__title">
                        Latest Posts
                    </h4>
                    <div class="scrollable-container__content">
                    </div>
                </div>
            </div>
            <div class="responsive-tiles__entry">
                <div class="scrollable-container">
                    <h4 class="scrollable-container__title">
                        Recent Photos
                    </h4>
                    <div class="scrollable-container__content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-layout-page-bold-header>
