<app-layout-page-bold-header>
    <ng-container title>
        <div class="main-banner">
            <h3 class="main-banner__pre-title">
                Welcome to
            </h3>
            <h1 class="main-banner__title">
                My App
            </h1>
        </div>
    </ng-container>
    <div class="responsive-tiles">
        <div class="responsive-tiles__entries">
            <div class="responsive-tiles__entry">
                <div class="scrollable-container">
                    <h4 class="scrollable-container__title">
                        Statistics
                    </h4>
                    <div class="scrollable-container__content">
                    </div>
                </div>
            </div>
            <div class="responsive-tiles__entry">
                <div class="scrollable-container">
                    <h4 class="scrollable-container__title">
                        Latest Posts
                    </h4>
                    <div class="scrollable-container__content">
                    </div>
                </div>
            </div>
            <div class="responsive-tiles__entry">
                <div class="scrollable-container">
                    <h4 class="scrollable-container__title">
                        Recent Photos
                    </h4>
                    <div class="scrollable-container__content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-layout-page-bold-header>
