@import "../../../styles/album-entry-images";

:host {
    background: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-200);
    width: 100%;

    .album-entry {
        &__content {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        &__header,
        &__footer {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            background: var(--bs-gray-200);
        }

        &__header,
        &__footer,
        &__main {
            padding: 5px 10px;
        }

        &__main {
            flex-grow: 1;
            display: flex;
            align-items: center;
        }

        &__images {
            width: 100%;
        }
    }
}
