<div class="album-entry__content">
    <div class="album-entry__header">
        <a [routerLink]="['/albums/' + album.id]">
            {{ album.title }}
        </a>
    </div>
    <div class="album-entry__main">
        <div class="album-entry__images album-entry-images">
            <ul class="album-entry-images__items">
                <ng-container *ngIf="!(photos$ | async)">
                    <li *ngFor="let _ of [1, 2, 3, 4]"
                        class="album-entry-images__entry">
                        <div class="album-entry-images__image-wrapper">
                            <img class="album-entry-images__image">
                        </div>
                    </li>
                </ng-container>
                <ng-container *ngIf="photos$ | async">
                    <li *ngFor="let photo of (truncatedPhotos$ | async)"
                        class="album-entry-images__entry">
                        <div class="album-entry-images__image-wrapper">
                            <img [src]="photo.thumbnailUrl"
                                class="album-entry-images__image">
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
    <div class="album-entry__footer">
        By
        <a [routerLink]="['/users/' + album.userId]">
            User {{ album.userId }}
        </a>
    </div>
</div>
