<div class="album-entry__content">
    <div class="album-entry__header">
        <a [routerLink]="['/albums/' + album.id]">
            {{ album.title }}
        </a>
    </div>
    <div class="album-entry__main">
        <div class="album-entry__images album-entry-images">
            <ul class="album-entry-images__items">
                <li class="album-entry-images__entry">
                    <img class="album-entry-images__image">
                </li>
                <li class="album-entry-images__entry">
                    <img class="album-entry-images__image">
                </li>
                <li class="album-entry-images__entry">
                    <img class="album-entry-images__image">
                </li>
                <li class="album-entry-images__entry">
                    <img class="album-entry-images__image">
                </li>
            </ul>
        </div>
    </div>
    <div class="album-entry__footer">
        By
        <a [routerLink]="['/users/' + album.userId]">
            User {{ album.userId }}
        </a>
    </div>
</div>
