@import '../../../styles/album-entry-images';

:host {
    display: flex;
    flex-direction: column;
    background: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-200);
    width: 100%;

    .album-entry {
        &__header,
        &__footer {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            background: var(--bs-gray-100);
        }

        &__header,
        &__footer,
        &__main {
            padding: 10px;
        }
    }
}
