:host {
    .page-photo {
        &__image-wrapper {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        &__image {
            max-width: 100%;
        }
    }
}
