<div class="page__content">
    <app-layout-page-generic>
        <ng-container title>{{ (photo$ | async)?.title }}</ng-container>
        <div class="page-photo__content">
            <a [routerLink]="['/albums/' + (photo$ | async)?.albumId ]">
                View Album
            </a>

            <div class="page-photo__image-wrapper">
                <img class="page-photo__image"
                    [src]="(photo$ | async)?.url">
            </div>
        </div>
    </app-layout-page-generic>
</div>
